datasets==4.5.0
einops==0.8.2
ipykernel==7.2.0
jaxtyping==0.3.7
jupyterlab==4.5.3
kaleido==1.4.0
nbconvert==7.17.0
nbformat==5.10.4
notebook==7.5.3
numpy==2.5.2
pandas==3.0.0
plotly==6.5.2
sae-lens==6.50.0
torch==2.10.0
transformer-lens==3.8.1
transformers==5.16.1
jlens @ git+https://github.com/anthropics/jacobian-lens@581d398
